body{
 width: 60%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(plen1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.box{
  width: 350px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color:rgba(255,255,255, 0.9);
  text-align: center;
}
.box h1,.box h2{
  color: blue;
  text-transform: uppercase;
  font-weight: 300;
  font-weight: bold;
  font: italic small-caps bold 28px/2 cursive;
  

}
.box input[type = "text"],.box input[type = "password"],
.box input[type = "email"]{
  border:0;
  background: none;
  display: block;
  margin: 15px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 150px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus,.box input[type = "email"]:focus{
  width: 280px;
  border-color: #2ecc71;
}


.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}

